##### Create matrix with all ones (one row)
##### Create matrix with all ones (multiple rows - with 3 rows in 5 columns)
##### Type of all ones matrix (default is float/decimal)
##### Conevert all ones matrix to integer (default is float/decimal)
##### Conevert all ones matrix to boolean (default is float/decimal)

## Create matrix with all ones (one row)

In [16]:
# Case 1 - with np array
import numpy as np
arr1 = np.array([[1,1,1,1,1]])
arr1

array([[1, 1, 1, 1, 1]])

In [3]:
# Case 2 - with np.ones function
arr2=np.ones(5)
arr2

array([1., 1., 1., 1., 1.])

## Create matrix with all ones (multiple rows - with 3 rows in 5 columns)

In [17]:
arr1 = np.array([[1,1,1],[1,1,1],[1,1,1]])
arr1

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

In [5]:
arr3=np.ones((3,5))
arr3

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

## Type of all ones matrix (default is float/decimal)

In [13]:
arr3.dtype

dtype('float64')

## Conevert all ones matrix to integer (default is float/decimal)

In [11]:
arr4=np.ones((3,5),dtype='int32')
arr4

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [14]:
arr4.dtype

dtype('int32')

## Conevert all ones matrix to boolean (default is float/decimal)

In [15]:
arr5=np.ones((3,5),dtype='bool')
arr5

array([[ True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True]])